<div class="page-header">

</div>

<div class="container">
<section>
  <h2>Register</h2>

  <form id="login" name="auth.registerForm" ng-submit="auth.register()" novalidate>
    <div class="alert alert-danger" role="alert" ng-show="(!!auth.error && auth.registerForm.$submitted)">{{ auth.error }}</div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" ng-model="auth.user.username">
    </div>

    <div class="form-group">
      <label for="fullname">Full name</label>
      <input type="text" class="form-control" id="fullname" placeholder="Full name" ng-model="auth.user.fullname">
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" id="image" placeholder="Image URL" ng-model="auth.user.image">
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <textarea type="text" class="form-control" id="description" placeholder="a few words about you" ng-model="auth.user.description"></textarea>
    </div>

    <div class="form-group">
      <label for="competances">competances</label>
      <input type="text" class="form-control" id="competances" placeholder="competances" ng-model="auth.user.competances">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="auth.user.email" required>
    </div>

    <div class="alert alert-danger" role="alert" ng-messages="auth.registerForm['email'].$error" ng-show="(auth.registerForm.$submitted && auth.registerForm['email'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Email is required.</span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="auth.user.password" required>
    </div>

    <div class="alert alert-danger" role="alert" ng-messages="auth.registerForm['password'].$error" ng-show="(auth.registerForm.$submitted && auth.registerForm['password'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Password is required.</span>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
</div>

 
