<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>All are amazing teams</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


  <li class="media" ng-repeat="team in teamsIndex.all">

    <div class="media-body">
        <a ui-sref="teamsShow({ id: team._id })">
          <h4 class="media-heading">{{ team.name }}</h4>
        </a>

        <div class="col-lg-3 col-md-3 col-sm-3">
      <img src="{{team.creator.image}}" alt="leader photo photo" />


      <h4>Team leader : {{ team.creator.fullname }}</h4>

      <h5 class="ctitle">KEY Skill</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <div class="hline"></div>

			<h4>Members: </h4>

      <div ng-repeat="member in team.members">
        <p>{{member.fullname}}</p>
      </div>
    </ul>
    </div><! --/col-lg-3 -->
  </li>
-------------------


<div class="jumbotron" ng-repeat="team in teamsIndex.all">
	<div class="media-body">
		<a ui-sref="teamsShow({ id: team._id })">
			<h2 class="media-heading">{{ team.name }}</h2>
		</a>
		<div class="col-md-4">
			<h4 class="team-leader team-info">Team leader : {{ team.creator.fullname }}</h4>
			<img src="{{team.creator.image}}" alt="leader photo photo" />
			<h5 class="ctitle">KEY Skill</h5>
			<div class="hline"></div>
			<p>Description : Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>

			<h4 class="team-info">Members: </h4>
			<div ng-repeat="member in team.members" class="col-md-4">
				<img src="{{member.image}}" alt="leader photo photo" />
				<p>{{member.fullname}}</p>
				<h5 class="ctitle">KEY Skill</h5>
			</div>


	  </div>
	</div>
</div>
