<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>All are amazing teams</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

<div class="jumbotron" ng-repeat="team in teamsIndex.all">
	<div class="media-body">
		<a ui-sref="teamsShow({ id: team._id })">
			<h2 class="media-heading">{{ team.name }}</h2>
		</a>
		<div class="col-md-4">
			<h4 class="team-leader team-info">Team leader : {{ team.creator.fullname }}</h4>
			<img src="{{team.creator.image}}" alt="leader photo photo" />
			<h5 class="ctitle">{{team.creator.role}}</h5>
			<div class="hline"></div>
		</div>

			<h4 class="team-info">Member: {{member.fullname}}</h4>
			<div ng-repeat="member in team.members" class="col-md-4">
				<img src="{{member.image}}" alt="leader photo photo" />
				<h5 class="ctitle">{{member.role}}</h5>
			</div>


	  </div>
		<p>Description : {{ team.description }} </p>
	</div>
</div>
