<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>All you want to know about this amazing team.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	 <div class="container mtb">
	 	<div class="row">

	 		<! -- SINGLE POST -->
	 		<div class="col-lg-8">
	 			<! -- Blog Post 1 -->
		 		<h3 class="ctitle">{{ teamsShow.team.name }}</h3>
        <h3>Team Leader: <a ui-sref="usersShow({id: teamsShow.team.creator._id})">{{ teamsShow.team.creator.username }}</a>
        <h3>
		 		<p></p>
		 		<p>{{ teamsShow.team.description }}</p>

			</div><! --/col-lg-8 -->


	 		<! -- SIDEBAR -->
	 		<div class="col-lg-4">
		 		<h4>Board</h4>
		 		<div class="hline"></div>
		 			<p>
		 				<br/>
            <a class="btn btn-default" ng-click="teamsShow.joinTeam()">Join Team</a>
            <a class="btn btn-default" ng-click="teamsShow.leaveTeam()">Leave Team</a>
            <a class="btn btn-default" ng-click="teamsShow.deleteTeam()">Delete</a>
		 			</p>

		 		<div class="spacing"></div>

		 		<h4>Competances</h4>
		 		<div class="hline"></div>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Wordpress</a> <span class="badge badge-theme pull-right">9</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Photoshop</a> <span class="badge badge-theme pull-right">3</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Web Design</a> <span class="badge badge-theme pull-right">11</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Development</a> <span class="badge badge-theme pull-right">5</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Tips & Tricks</a> <span class="badge badge-theme pull-right">7</span></p>
			 		<p><a href="#"><i class="fa fa-angle-right"></i> Code Snippets</a> <span class="badge badge-theme pull-right">12</span></p>

		 		<div class="spacing"></div>

		 		<h4>Team Members</h4>
		 		<div class="hline"></div>
					<ul class="popular-posts">
		                <li ng-repeat="member in teamsShow.team.members">
		                      <img class="small" src="{{ member.image }}" alt="user image">
                          <p><a ui-sref="usersShow({id: member._id})">{{ member.username }}</a></p>
                        </li>
		                </li>
		            </ul>

		 		<div class="spacing"></div>

	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
