<h2>Edit profile</h2>

  <form id="editProfile" name="users.editForm" ng-submit="users.updateUser()">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" ng-model="users.user.username">
    </div>

    <div class="form-group">
      <label for="fullname">Full name</label>
      <input type="text" class="form-control" id="fullname" placeholder="Full name" ng-model="users.user.fullname">
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" id="image" placeholder="Image URL" ng-model="users.user.image">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
