<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>All our members</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

<div class="row-fluid">
  <div ng-repeat="user in usersIndex.all" class="col-md-4">
      <ul>
        <a ui-sref="usersShow({ id: user._id })">
          <img src="{{user.image}}" alt="leader photo photo" />
        </a>
        <h4>{{ user.fullname }}</h4>
				<h5 class="ctitle">{{member.role}}</h5>
				<div class="hline"></div>
        <p>{{ user.role }}</p>
      </ul>
    </div>
  </div>
