<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>All our members</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
<h2>MEET OUR TEAM</h2>

<div class="row-fluid">
  <div ng-repeat="user in usersIndex.all" class="col-md-4">
      <ul>
        <a ui-sref="usersShow({ id: user._id })">
          <img src="{{user.image}}" alt="leader photo photo" />
        </a>
        <h4>{{ user.fullname }}</h4>
        <h5>{{ user.email }}</h5>
        <p>{{ user.competances }}</p>
        <div class="hline"></div>
      </ul>
    </div>
  </div>
