<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>{{ usersShow.user.fullname }} 's page</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ usersShow.user.fullname | uppercase }}</h2>
														<h3> {{ usersShow.user.role }}</h3>
                            <hr>
                            <img src="{{ usersShow.user.image }}" class="img-responsive img-centered" alt="">
                            <p>{{ usersShow.user.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Skills:
                                    <strong>{{ usersShow.user.competances }}</a>
                                    </strong>
                                  </li>
                                  <li> Contact:
                                    <strong>{{ usersShow.user.email }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="teamsNew"><i class="fa fa-times"></i> Create Team</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="usersEdit({id: usersShow.user._id})"><i class="fa fa-times"></i> Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div
